.vs/
/Lab3/.vs/Lab3/v17/.suo
/Lab3/.vs/Lab3/v17/DocumentLayout.json
/Lab3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Lab4/Bai03/bin/Debug
/Lab4/Bai03/obj/Debug
/Lab4/Bai03/packages
/Lab4/packages
/.gitignore
